/* header part */


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 5px;

}
.btn-primary:hover{
    background-color: black;
    width: 200px;
    font-size: large;
    color: #4E47FF;
}

/* banner part */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    
}

.banner{
   text-align: center;
}

.bg-image{
    background-image: url('../Assets/Hero-bg.png');
    height: 580px;
  
}

/* action part */
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #111113;
}

.action-description{
    font-size: 24px;
    color: #817d75;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    
}

.action{
    
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
    
}

.image{
    max-width: 403px;
    border-radius: 15px;